body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#root{
    height: 100vh;
    position: relative;
    display: flex;
}

#dragArea{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card{
    width: 133px;
    height: 242px;
    background-color: #1D7373	;
    position: absolute;
    border: 2px inset rgb(104, 104, 104);
    background-size: cover;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    text-align: center;
    transition: .5s;
    transform: scale(0.9);
}

.active{
    transition: .1s;
    transform: scale3d(0.92,0.92,0.92)
}

.card img{
    width: 112px;
    height: 80px;
    border-radius: 10px;
    border: 1px gray inset;
}

.card .cardProperties{
    display: flex;
    flex-direction: column;
    height: 120px;
}

.cardProperties .powers{
    display: flex;
    flex-direction: row;
    margin-top: auto;
}

.defPower{
    margin: auto 10px 10px auto;
}

.atkPower{
    margin: auto auto 10px 10px;
}

.card h2,
.card p,
.info,
.place p{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.card h2{
    margin: 5px;
}

.Mg{
    background-image: url(/img/paper.jpg);
}

.Hm{
    background-image: url(/img/paper.jpg);
}

#cards{
    display: flex;
    flex-direction: row;
    height: 250px;
}

.createCardBox{
    width: 180px;
    height: 220px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px black solid;
    margin: 10px;
    padding: 3px;
}

.createCardBtn{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.deleteCard{
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.cardContainer{
    width: 1px;
    height: 1px;
    display: flex;
    flex-direction: row;
    padding: 1px;
}

.item_1,
.item_2,
.item_3,
.item_4{
    width: 150px;
    height: 150px;
    border: 1px black solid;
}

.item_2,
.item_4{
    margin: 0 0 0 auto;
}

#up{
    display: flex;
    flex-direction: column;
    margin: 0 0 auto 0;
}

#down{
    display: flex;
    flex-direction: row;
    margin: auto 0 0 0;
}

#CardPlaces{
    width: 66.67%;
    height: 250px;
    margin: auto auto 50px auto;
    display: flex;
    flex-direction: row;
}

.place{
    width: 133px;
    height: 242px;
    margin: auto;
}

.place p{
    margin-top: 250px;
    text-align: center;
}

.chooseWindow{
    margin-top: -293px;
}

.chooseWindow button{
    margin: 1px;
    margin-left: 7px;
    margin-right: 7px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.attackWindow button{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.CCBText{
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.navbar{
    display: flex;
    flex-direction: row;
}

#opponentField{
    width: 66.67%;
    height: 250px;
    margin: auto auto auto auto;
    display: flex;
    flex-direction: row;
}

.wrapper{
    display: flex;
    flex-direction: row;
}

.filler{
    width: 180px;
    height: 220px;
    margin: 10px;
    padding: 3px;
}