body{
    margin: 0;
}

.dragArea{
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card{
    width: 110px;
    height: 150px;
    background-color: #1D7373	;
    position: absolute;
    border: 2px solid gold;
}

.cards{
    display: flex;
    flex-direction: row;
}

.cardholder{
    width: 110px;
    height: 150px;
    margin: 20px;
}

.item_1,
.item_2,
.item_3,
.item_4{
    width: 150px;
    height: 150px;
    border: 1px black solid;
}

.item_2,
.item_4{
    margin: 0 0 0 auto;
}

.up,
.down{
    display: flex;
    flex-direction: row;
}

.up{
    margin: 0 0 auto 0;
}

.down{
    margin: auto 0 0 0;
}